.checkbox-table thead {
    background-color: transparent; /* remove Umbraco styling */
}

.checkbox-table th {
    height: 160px;
}

.checkbox-table th span {
    display: inline-block;
    transform: translate(20px, 50px)
               rotate(320deg);
    width: 55px;
}

.checkbox-table input.active {
    background-color: #f3f3f5;
}

.checkbox-table td {
    text-align:center;
}

.checkbox-table li label small {
    display: inline; /* prevalue styling tweak */
}

.checkbox-table i.icon:hover {
    cursor: pointer;
}

.checkbox-table i.icon-add:hover {
    color: #03bfb3; /* Umbraco green from 7.2.3 */
}

.checkbox-table i.icon-delete:hover {
    color: #fe3e39; /* Umbraco red from 7.2.3 */
}
