﻿<div ng-controller="CheckboxTableController" class="checkbox-table">

    <table>
        <thead>
            <tr>
                <th><!-- header not used (col for the row labels) --></th>
                <th><!-- header not used (col for remove row icons) --></th>
                <th ng-repeat="column in model.value.columns track by $index"
                    ng-init="columnIndex = $index">
                    <span>
                        <input type="text" 
                               placeholder="Column Label"
                               ng-readonly="model.config.columnPermissions == 'readOnly'"
                               ng-model="model.value.columns[columnIndex]" />
                    </span>                   
                </th>
                <th>                    
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- row of remove column icons -->
            <tr>
                <td></td>
                <td></td>
                <td ng-repeat="column in model.value.columns track by $index"
                    ng-init="columnIndex = $index">    
                     <i class="icon icon-delete" 
                        ng-if="model.config.columnPermissions == 'addRemove'"
                        ng-click="removeColumn(columnIndex)"></i>  
                </td>
                <td rowspan="{{ 1 + model.value.rows.length }}" >
                    <i class="icon icon-add" 
                       ng-if="model.config.columnPermissions == 'addRemove'"
                       ng-click="addColumn()" ></i>
                </td>
            </tr>

            <tr ng-repeat="row in model.value.rows track by $index"
                ng-init="rowIndex = $index">
                <td>
                    <input type="text" 
                           placeholder="Row Label"
                           ng-readonly="model.config.rowPermissions == 'readOnly'"
                           ng-model="model.value.rows[rowIndex]" />
                </td>
                <td>
                    <i class="icon icon-delete" 
                       ng-if="model.config.rowPermissions == 'addRemove'"
                       ng-click="removeRow(rowIndex)"></i>                    
                </td>
                <td ng-repeat="column in model.value.columns track by $index"
                    ng-init="columnIndex = $index">
                    
                    <input type="checkbox" 
                           ng-model="model.value.cells[rowIndex][columnIndex]" 
                           title="[{{ model.value.rows[rowIndex] }}] + [{{ model.value.columns[columnIndex] }}]" />

                </td>

            </tr>
            <tr>
                <td></td>
                <td colspan="{{ 1 + model.value.columns.length }}">
                    <i class="icon icon-add" 
                       ng-if="model.config.rowPermissions == 'addRemove'"
                       ng-click="addRow()"></i>
                </td>
            </tr>
       
        </tbody>
    </table>

</div>